################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PerimeterApp/PerimeterAppTests/bin/Debug/net6.0
/PerimeterApp/PerimeterAppTests/obj
